.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.active {
    background-color: rgb(207, 121, 207)
}

.inactive {
    background-color: grey;
}

.nearMaxMass {
    font-weight: bold;
    color: red;
}


/* Add the 'nearMaxMass' class style here: */
